<div class="main-container">
  <div class="form-container" *ngIf="actor">
    <form>
      <h3>Formulario de actualizacion</h3>
      <div class="form-group">
        <label for="exampleInputName">Nombre Actor</label>
        <input
          type="text"
          class="form-control"
          name="nombre"
          id="exampleInputName"
          placeholder="Ingrese nombre Actor"
          required
          [(ngModel)]="nuevoActor.nombre"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputName">Apellido Actor</label>
        <input
          type="text"
          class="form-control"
          name="apellido"
          id="exampleInputName"
          placeholder="Ingrese apellido Actor"
          required
          [(ngModel)]="nuevoActor.apellido"
        />
      </div>
      <!-- <div class="form-group">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [(ngModel)]="model"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div> -->
      <div class="form-group">
        <label for="exampleInputEmail1">Fecha Nacimiento</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Fecha de Nacimiento"
          name="nacimiento"
          [(ngModel)]="nuevoActor.fecha_nacimiento"
        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Sexo</label>
        <select class="form-control" id="exampleFormControlSelect1" name="sexo" [(ngModel)]="nuevoActor.sexo">
          <option>Masculino</option>
          <option>Femenino</option>
        </select>
      </div>
      <button *ngIf="!loading" type="submit" class="btn btn-primary" (click)="ActualizarActor($event)">
        Cargar Actor
      </button>
      <div class="spinner">
        <div *ngIf="loading" class="spinner-border text-primary" role="status">
          <span class="sr-only">Cargando Actor...</span>
        </div>
      </div>
    </form>
  </div>
</div>
